h2,
small,
.input-sm,
.dataTables_paginate,
.dataTables_info {
    font-weight: bold;
    color: black;
}

#map {
    height: 100%;
}

@media (max-width: 320px) {}

@media (max-width: 480px) {}

@media (max-width: 600px) {}

@media (max-width: 800px) {}

@media (max-width: 768px) {}

@media (max-width: 1024px) {}

@media (min-width: 1025px) {}